# Homework 08

*Emily Nina Scharf*

*Nov 18, 2021*

In [2]:
import requests
import json
import pandas as pd

# 1. Choose an API

### a) Choose an API and describe the type of data you can obtain from it

I will be using the Met Museum API. It has four available endpoints: Objects(a list of Object IDs), Object (a recird for a particular object), Departments (A list of valid departments), and Search (A list of Object IDs that contain a search query within the Object's data).

### b) Provide a link to the API documentation

https://metmuseum.github.io/

### c) Provide a link to the base URL

https://collectionapi.metmuseum.org

# 2. Authentification

### a) Briefly explain how the API authenticates the user

This API does not require users to register or obtain a key.

### b) Apply for an API key if necessary

Not Applicable

# 3. Send a simple GET request

### a)  Execute a simple GET request to obtain a small amount of data from the API. Describe a few query parameters and add them to the query. Your output here should include the code for the GET request, including the query parameters, as well as a snippet of the output.

In [22]:
# Get the information on 2018-01-01
sr = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/objects'
, params = {'metadataDate': '2018-01-01'})

In [25]:
# show the keys of the json result
json_sr = sr.json()
json_sr.keys()

dict_keys(['total', 'objectIDs'])

In [23]:
# find out the total count of Object IDs
count = json_sr['total']
count

477921

In [24]:
# show the list of first ten Object IDs
ids = json_sr['objectIDs']
print(ids[:10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### b) Check (and show) the status of the request.

In [10]:
sr.status_code

200

### c) Check (and show) the type of the response (e.g. XML, JSON, csv).

In [11]:
sr.headers.get('content-type')

'application/json; charset=UTF-8'

# 4. Parse the response and Create a dataset

### a) Take the response returned by the API and turn it into a useful Python object (e.g. a list, vector, or pandas data frame). Show the code how this is done.

In [12]:
# Put the request results for Object IDs into a dataframe
response_dict = pd.DataFrame.from_dict(json_sr)

In [13]:
# Show the first five rows to give the read a sense of how this dataframe looks like
print(response_dict.head())

    total  objectIDs
0  477921          1
1  477921          2
2  477921          3
3  477921          4
4  477921          5

### b) Using the API, create a dataset (in data frame format) for multiple records. I'd say a sample size greater than 100 is sufficient for the example but feel free to get more data if you feel ambitious and the API allows you to do that fairly easily. The dataset can include only a small subset of the returned data. Just choose some interesting features. There is no need to be inclusive here.

In [14]:
# Make a new request to search information about French artists and culture
req = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?artistOrCulture=true&q=french')

In [15]:
req_json = req.json()

In [16]:
req_json.keys()

dict_keys(['total', 'objectIDs'])

In [17]:
# A dataframe listing objectIDs where the artist or culture is 
api_dataset = pd.DataFrame.from_dict(req_json)

In [18]:
print(api_dataset.head()) 
#French, with 15230 total records

   total  objectIDs
0  27413     288118
1  27413     459199
2  27413     189708
3  27413     189709
4  27413     189757

### c) Provide some summary statistics of the data. Include the data frame in a .csv file called data.csv with your submission for the grader.

In [19]:
api_dataset.to_csv('data.csv')

# 5. API Client

### a) API client function: Lastly, let's try to wrap the code from the previous sections into a simple API client function.

In [34]:
def met_collections(date):
    """
    This function aims to collect data from Met Museum API.
    It can check the total collections and the objectIDs
    
    Parameters
    ----------
    date: a date in the format of "yyyy-mm-dd"
        
    Returns
    -------
    The dataframe showing the total collections and each objectIDs
    
    Examples
    --------
    >>> met_collections(date = '2018-01-01')
    <DataFrame> 
       It contains a dataframe with 477,921 lines, representing there are 477,921 collections in total and the objectIDs.
       
    """
    sr = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/objects'
, params = {'metadataDate': date})
    json_sr = sr.json()
    response_dict = pd.DataFrame.from_dict(json_sr)
    return response_dict

In [35]:
met_collections(date = '2018-01-01')

         total  objectIDs
0       477921          1
1       477921          2
2       477921          3
3       477921          4
4       477921          5
...        ...        ...
477916  477921     856533
477917  477921     856534
477918  477921     856535
477919  477921     856536
477920  477921     856537

[477921 rows x 2 columns]